img {
    height: auto;
    width: 200px;
}

#dog1display , #dog2display, #dog3display{
    font-family: Impact;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    /* display:contents; */
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    height: 300px;
}

